@charset 'UTF-8';

.breadcrumb {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid $cerulean;
  font-family: $headings-font-family;
  font-size: $font-size-small;
  text-transform: uppercase;

  li + li:before {
    padding-right: 0;
    font-size: 1.4em;
  }
}
