@charset 'UTF-8';

.doctor-teaser {
  padding: 1em;
  padding-top: 4em;
  padding-left: 0;

  .media-object { max-width: 110px; }
  .media-left { padding-right: 1em; }

  @media screen and (max-width: $screen-xs-max) {
    .media-left {
      display: block;
      text-align: center;
    }

    .media-object { display: inline-block; }

    .media-body {
      padding: $grid-gutter-width / 2;
    }
  }
}
