@charset 'UTF-8';

.navbar {
  font-family: $headings-font-family;
  font-size: 1em;
  text-transform: uppercase;

  .chevron { border-color: $brand-primary; }

  .dropdown-menu {
    text-transform: none;
    font-size: 0.88em;

    a {
      color: $cerulean;

      &:hover { background: transparent; }
    }

    .divider { margin: 0.5em 0; }

    li.active a:hover,
    li a:hover,
    li.active a {
      background: transparent;
      color: $blue-zodiac;
    }
  }

  @media screen and (max-width: $screen-md-max) {
    padding-top: 0.6em;

    li a {
      padding: 0.7em 0.6em;
      font-size: 0.9em;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    padding-top: 0;
    li a { font-size: 1em; }
  }
}

.navbar-toggle {
  margin-right: 0;
}

.navbar-collapse {
  position: relative;

  @media screen and (max-width: $screen-xs-max) {
    padding-right: 1em;
  }
}
