@charset 'UTF-8';

.navbar {
  font-size: 1em;
  font-family: $headings-font-family;
  text-transform: uppercase;

  .chevron { border-color: $brand-primary; }

  .dropdown-menu {
    text-transform: none;
    font-size: 0.88em;

    a {
      color: $cerulean;

      &:hover { background: transparent; }
    }

    .divider { margin: 0.5em 0; }

    li.active a:hover,
    li a:hover,
    li.active a {
      background: transparent;
      color: $blue-zodiac;
    }
  }
}

.navbar-toggle {
  margin-right: 0;
}

.navbar-collapse {
  position: relative;
  padding-right: 80px;
}
