@charset 'UTF-8';

.input-group {
  .input-group-btn { font-size: 1em; }
  .btn { height: ($line-height-computed + ($padding-base-vertical * 2) + 2); }
}

.search {
  box-shadow: 0 0 3em -3px rgba(0, 0, 0, 0.3);

  .form-control {
    padding: 0 1.4em;
    border: 0;
    box-shadow: none;
  }

  .btn { padding: 0 1.6em; }

  .icon {
    position: relative;
    top: 0.1em;
    font-size: 1em;
  }
}
