@charset 'UTF-8';

.tocnav {
  padding: 1em 0;
  background: $alto;
  font-size: $font-size-large;
  font-weight: 400;

  ul li {
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    &:before { content: none; }
  }

  a {
    color: $blue-zodiac;
    &:hover { color: $cerulean; }
  }
}

.toc-item-h1 {
  padding-left: 0;
  font-size: 1em;
}

.toc-item-h2 {
  padding-left: 1em;
  font-size: 0.9em;
}

.toc-item-h3 {
  padding-left: 2.5em;
  font-size: 0.8em;
}

.toc-item-h4 {
  padding-left: 4em;
  font-size: 0.7em;
}

.toc-item-h5 {
  padding-left: 6em;
  font-size: 0.6em;
}

.toc-item-h6 {
  padding-left: 9em;
  font-size: 0.5em;
}
