@charset 'UTF-8';

.tocnav {
  padding: 1.5em 1em;
  background: $brand-primary;
  font-weight: 400;

  ul li {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-left: 1px solid transparentize($white, 0.3);

    &:before { content: none; }
  }

  a {
    text-transform: uppercase;
    color: transparentize($white, 0.15);
    &:hover { color: $white; }
  }
}

.toc-item-h1 {
  margin-left: 0;
  /* stylelint-disable declaration-no-important */
  /* For cleaner un-nested code */
  border-left: 0 !important;
  /* stylelint-enable declaration-no-important */
  font-size: 1em;
}

.toc-item-h2 {
  padding-left: 1em;
  font-size: 0.9em;
}

.toc-item-h3 {
  padding-left: 2em;
  font-size: 0.8em;
}

.toc-item-h4 {
  padding-left: 3em;
  font-size: 0.7em;
}

.toc-item-h5 {
  padding-left: 5em;
  font-size: 0.6em;
}

.toc-item-h6 {
  padding-left: 7em;
  font-size: 0.5em;
}
