@charset 'UTF-8';

.well-relative {
  display: flex;
  position: relative;
  align-items: center;
}

.well {
  padding: 2em 10%;
  color: $white;

  &.well-sm { padding: 0.8em 10%; }

  &.well-up {
    position: relative;
    margin-top: -3em;
  }

  &.well-down {
    position: relative;
    z-index: 20;
    margin-bottom: -2em;
  }

  &.well-left {
    position: relative;
    margin-left: -12em;
  }

  &.well-center {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -10%;
  }

  p {
    margin-bottom: 1em;
    font-size: $font-size-large;
    font-family: $headings-font-family;
  }

  small {
    line-height: 0.5em;
  }

  @media screen and (max-width: $screen-xs-max) {
    &.well-up,
    &.well-down,
    &.well-left,
    &.well-center {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
    }
    &.well-center { position: static; }
  }
}
