@charset 'UTF-8';

.well {
  padding: 2em 10%;
  color: $white;

  &.well-sm { padding: 0.8em 10%; }

  &.well-up {
    position: relative;
    margin-top: -3em;
  }

  &.well-down {
    position: relative;
    z-index: 20;
    margin-bottom: -2em;
  }

  p {
    margin-bottom: 1em;
    font-size: $font-size-large;
    font-family: $headings-font-family;
  }

  small {
    line-height: 0.5em;
  }

  @media screen and (max-width: $screen-xs-max) {
    &.well-up,
    &.well-down {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
