@charset 'UTF-8';

.container { max-width: 100%; }

.row-flex {
  display: flex;
  flex-wrap: wrap;

  &.row-flex-center { align-items: center; }
  &.row-flex-end { align-items: flex-end; }

  > div[class*='col-'] {
    display: flex;
    flex-direction: column;

    > .button-link,
    > .doctor-teaser { flex-grow: 1; }
  }

  @media screen and (max-width: $screen-xs-max) {
    display: block;
  }
}
