@charset 'UTF-8';

@mixin theme($color) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6,
  .icon { color: $color; }

  .icon-circle { border-color: $color; }
}

.theme-primary { @include theme($brand-primary); }
.theme-success { @include theme($brand-success); }
.theme-warning { @include theme($brand-warning); }
