@charset 'UTF-8';

html {
  font-size: $base;
  font-weight: 300;

  @media screen and (max-width: $screen-sm-max) {
    font-size: floor(($base * 0.9));
  }
  @media screen and (max-width: $screen-sm-max) {
    font-size: floor(($base * 0.85));
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0.4em 0;
  line-height: 1.1em;

  &.no-margin { margin: 0; }
}

h2,
.h2 {
  margin: 0.1em 0;
  line-height: 1.1em;

  & + h3,
  & + .h3 {
    margin-top: 0.1em;
    line-height: 1.1em;
  }
}

a {
  transition: color 0.3s;
  &:hover { text-decoration: none; }
}

p {
  margin: 0.4em 0 0.6em;
}

pre { font-size: 1em; }

.content ul {
  padding-left: 1em;

  li {
    position: relative;
    list-style-type: none;

    &:before {
      content: '\00a0';
      display: inline-block;
      position: absolute;
      top: 0.6em;
      right: 100%;
      width: 7px;
      height: 7px;
      margin-right: 0.5em;
      border-style: solid;
      border-color: $cerulean;
      border-width: 2px 2px 0 0;
      transform: rotate(45deg);
    }
  }

  ul li:before {
    content: '\2012';
    position: static;
    border: 0;
    transform: none;
  }
}

.text-col-2 {
  column-count: 2;
  column-gap: $grid-gutter-width*3;

  p {
    margin: 0;
    margin-bottom: 1em * $gr;
  }

  img {
    display: inline-block;
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
  }

  li {
    break-inside: avoid-column;
  }

  @media screen and (max-width: $screen-xs-max) {
    column-count: 1;
    column-gap: 0;
  }
}
