@charset 'UTF-8';

html {
  font-size: $base;
  font-weight: 300;

  @media screen and (max-width: $screen-sm-max) {
    font-size: floor(($base * 0.9));
  }
  @media screen and (max-width: $screen-sm-max) {
    font-size: floor(($base * 0.85));
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0.4em 0;
  line-height: 1.1em;
}
