@charset "UTF-8";

// init:
@import 'main-variables';
@import 'bootstrap';

@import 'helpers';
@import 'typography';
@import 'themes';
@import 'layout';

// atoms:
@import 'atoms/video';
@import 'atoms/search-field';
@import 'atoms/dropdown';
@import 'atoms/label';
@import 'atoms/shadow-separator';
@import 'atoms/iconed-item';
@import 'atoms/image';
@import 'atoms/button-emergency';
@import 'atoms/block-link';
@import 'atoms/chevron';
@import 'atoms/button-link';
@import 'atoms/phone';
@import 'atoms/button';

// molecules:
@import 'molecules/result-teaser';
@import 'molecules/cover-captioned';
@import 'molecules/consultation-teaser';
@import 'molecules/press-teaser';
@import 'molecules/pagination';
@import 'molecules/job-teaser';
@import 'molecules/news-teaser';
@import 'molecules/tocnav';
@import 'molecules/hospital-item';
@import 'molecules/map';
@import 'molecules/doctor-teaser';
@import 'molecules/breadcrumb';
@import 'molecules/well';
@import 'molecules/large-teaser';
@import 'molecules/hospital-teaser';
@import 'molecules/cover';
@import 'molecules/navbar';
@import 'molecules/search';

// organisms:
@import 'organisms/photoswipe-wrapper';
@import 'organisms/gallery';
@import 'organisms/search-results';
@import 'organisms/consultations';
@import 'organisms/press-releases';
@import 'organisms/homepage-consultation';
@import 'organisms/homepage-jobs';
@import 'organisms/footer';
@import 'organisms/header';

// pages:
@import 'pages/medias';
@import 'pages/rennaz';
@import 'pages/services-medicaux';
@import 'pages/homepage';
