@charset 'UTF-8';

$base:              16px;
$gr:                1.61803398875;

// Colors
$cerulean:      #00b7ea;
$blue-chill:    #0e7f9e;
$blue-zodiac:   #0b2238;

$atlantis:      #aebb2d;
$citron:        #8f9a22;

$jaffa:         #f47f3e;
$copper:        #c06735;

$white:         #fff;
$alto:          #e0e0e0;
$black:         #000;
