@charset 'UTF-8';

header {
  margin-bottom: $grid-gutter-width;

  .nav a {
    color: $blue-zodiac;

    &:hover {
      background: transparent;
      color: $cerulean;
    }
  }

  .navbar {
    margin-top: -3.1em;
  }
}
