@charset 'UTF-8';

.block-link {
  display: block;
  margin-top: 0.4em;
  padding-top: 0.3em;
  padding-bottom: 0.1em;
  border-bottom: 1px solid $cerulean;
  font-family: $headings-font-family;
  font-size: 1.1em;
  font-weight: 400;
  color: $blue-zodiac;

  .chevron {
    margin-right: 0.5em;
    color: $cerulean;
    transition: margin-right 0.3s;
  }

  &:hover {
    color: $cerulean;
    text-decoration: none;
    .chevron { margin-right: 0; }
  }
}
