@charset 'UTF-8';

.btn-emergency {
  padding-right: 1.4em;
  padding-left: 1.4em;
  border-radius: 3em;

  .icon {
    display: inline-block;
    position: relative;
    top: 0.15em;
    margin-right: 0.4em;
    font-size: 1.2em;
    transition: transform 0.3s;
  }

  &:hover .icon { transform: rotate(45deg); }
}
