@charset 'UTF-8';

.btn {
  text-transform: uppercase;
  transition: background 0.3s;
  &.btn-lg { font-size: 1em; }

  &.btn-primary:hover,
  &.btn-primary:focus { background: $blue-chill; }

  &.btn-success:hover,
  &.btn-success:focus { background: $citron; }

  &.btn-warning:hover,
  &.btn-warning:focus { background: $copper; }

  &.btn-block { text-align: left; }
}
