@charset 'UTF-8';

.btn {
  text-transform: uppercase;
  transition: background 0.3s;
  &.btn-lg { font-size: 1em; }
  &.btn-primary:hover { background: $blue-chill; }
  &.btn-success:hover { background: $citron; }
  &.btn-block { text-align: left; }
}
