@charset 'UTF-8';

.dropdown {
  .btn {
    height: 55px;
    padding-right: 8px;
    border: 2px solid $brand-success;
    font-size: 0.75em;
    line-height: 2.8em;
    text-transform: none;
    transition: border-color 0.3s;

    &[aria-expanded='true'],
    &:hover,
    &:active {
      /* stylelint-disable */
      /* I want to keep my code clean */
      background: $white !important;
      /* stylelint-enable */
      border-color: darken($brand-success, 8%);
      .chevron-wrapper { background: darken($brand-success, 8%); }
    }
  }

  .chevron { border-color: $white; }

  .chevron-wrapper {
    content: '\00a0';
    display: inline-block;
    width: 38px;
    height: 38px;
    background: $brand-success;
    transition: background 0.3s;
  }
}

.dropdown-menu {
  font-size: 0.8em;
}
