@charset 'UTF-8';

.item-iconed {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;

  .icon-circle {
    float: left;
  }

  h6 {
    margin: 0;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    font-size: $font-size-small;
    line-height: 1.4em;
  }

  &:before,
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.item-iconed-content {
  float: left;
  align-self: center;
  width: calc(100% - 3.2em);
  margin-left: 0.2em;
}

.icon-circle {
  display: inline-block;
  position: relative;
  top: 0.1em;
  width: 3em;
  margin-right: 0.3em;
  padding: 0.5em;
  border: 1px solid $brand-primary;
  border-radius: 50em;
  font-size: 0.9em;
  text-align: center;

  &.icon-clock {
    width: 1.9em;
    padding: 0.28em;
    font-size: 1.3em;
  }
}
