@charset 'UTF-8';

.img-full { width: 100%; }

.img-focus {
  background-size: cover;
  background-position: center center;

  @media screen and (max-width: $screen-xs-max) {
    min-height: 150px;
  }
}
