@charset 'UTF-8';

.search-field.input-group {
  width: 50px;
  border: 1px solid $white;
  border-radius: 50px;
  overflow: hidden;
  transition:
    width 0.3s,
    border 0.3s;

  .form-control {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    border-radius: 50px;
    box-shadow: none;
    transition: padding 0.3s;
  }

  .btn[type='submit'] { display: none; }

  .input-group-btn {
    width: 100%;
    transition: width 0.5s;

    .btn {
      width: 50px;
      margin-left: 0%;
      /* stylelint-disable declaration-no-important */
      /* Bootstrap related */
      border-radius: 50px !important;
      /* stylelint-enable declaration-no-important */
      line-height: 45px;
      transition: border-radius 0.3s;

      &:focus { outline: none; }
    }
  }

  input,
  .btn {
    height: 50px;
  }

  &.open {
    width: 300px;
    border-color: $atlantis;

    .btn[type='submit'] { display: block; }
    .btn[type='button'] { display: none; }

    .form-control {
      padding-left: 0.75em;
      padding-right: 0.75em;
    }

    .input-group-btn {
      width: 1%;
      transition: none;

      .btn {
        /* stylelint-disable declaration-no-important */
        /* Bootstrap related */
        border-radius: 0 50px 50px 0 !important;
        /* stylelint-enable declaration-no-important */
      }
    }
  }
}

.navbar .search-field {
  position: absolute;
  top: 0.2em;
  right: 0;
}
